@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <td>
        <a asp-action="CreateItem">Add item to application</a> |
        <a asp-action="IndexItem">Show all items</a>
    </td>
</div>
