@model IEnumerable<FridgePZ.Models.Itempattern>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Fridge</h1>
        <p>
            <h3>Jesteś nowy w aplikacji? <a asp-action="Register" asp-controller="Account">Zarejestruj się</a></h3>
            <h3>Masz konto? <a asp-action="Login" asp-controller="Account">Zaloguj się</a></h3>
        </p>
        <p>
            <img src="/images/lodowka.PNG"/>
        </p>
    </div>
